In [1]:
import twint
import nest_asyncio
nest_asyncio.apply()
import pandas as pd
from nltk.stem import WordNetLemmatizer
from nltk.tokenize import RegexpTokenizer
from nltk.corpus import stopwords
from sklearn.feature_extraction.text import TfidfVectorizer
from textblob import TextBlob

In [2]:
c = twint.Config()
c.Limit = 1
c.Username = 'Berkan19712817'
c.Pandas = True
c.Search = ['bitcoin']
c.Limit = 1

twint.run.Search(c)

Tweets_df = twint.storage.panda.Tweets_df

1398877256152502272 2021-05-30 08:41:42 +0300 <Berkan19712817> investing in bitcoin is a bad idea
1398702541249126403 2021-05-29 21:07:27 +0300 <Berkan19712817> bitcoin is worthless
1398702503835967492 2021-05-29 21:07:18 +0300 <Berkan19712817> bitcoin is trash
1398702467358023684 2021-05-29 21:07:09 +0300 <Berkan19712817> bitcoin will go down
1398702416254705666 2021-05-29 21:06:57 +0300 <Berkan19712817> bitcoin is terrible

In [3]:
Tweets_df.to_csv('tweets.csv')

In [4]:
df = pd.read_csv("tweets.csv")

In [5]:
df.head()

,Unnamed: 0,id,conversation_id,created_at,date,time,timezone,user_id,username,name,...,source,user_rt_id,user_rt,retweet_id,reply_to,retweet_date,translate,trans_src,trans_dest,search
0,0,1398877256152502272,1398877256152502272,2021-05-30 08:41:42 Türkiye Standart Saati,2021-05-30,08:41:42,300,1398701972463796227,Berkan19712817,Berkan,...,NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN,['bitcoin']
1,1,1398702541249126403,1398702541249126403,2021-05-29 21:07:27 Türkiye Standart Saati,2021-05-29,21:07:27,300,1398701972463796227,Berkan19712817,Berkan,...,NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN,['bitcoin']
2,2,1398702503835967492,1398702503835967492,2021-05-29 21:07:18 Türkiye Standart Saati,2021-05-29,21:07:18,300,1398701972463796227,Berkan19712817,Berkan,...,NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN,['bitcoin']
3,3,1398702467358023684,1398702467358023684,2021-05-29 21:07:09 Türkiye Standart Saati,2021-05-29,21:07:09,300,1398701972463796227,Berkan19712817,Berkan,...,NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN,['bitcoin']
4,4,1398702416254705666,1398702416254705666,2021-05-29 21:06:57 Türkiye Standart Saati,2021-05-29,21:06:57,300,1398701972463796227,Berkan19712817,Berkan,...,NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN,['bitcoin']

In [6]:
df = df.dropna(axis=1)
  
df

,Unnamed: 0,id,conversation_id,created_at,date,time,timezone,user_id,username,name,...,replies_count,retweets_count,likes_count,hashtags,cashtags,link,retweet,video,reply_to,search
0,0,1398877256152502272,1398877256152502272,2021-05-30 08:41:42 Türkiye Standart Saati,2021-05-30,08:41:42,300,1398701972463796227,Berkan19712817,Berkan,...,0,0,0,[],[],https://twitter.com/Berkan19712817/status/1398...,False,0,[],['bitcoin']
1,1,1398702541249126403,1398702541249126403,2021-05-29 21:07:27 Türkiye Standart Saati,2021-05-29,21:07:27,300,1398701972463796227,Berkan19712817,Berkan,...,0,0,0,[],[],https://twitter.com/Berkan19712817/status/1398...,False,0,[],['bitcoin']
2,2,1398702503835967492,1398702503835967492,2021-05-29 21:07:18 Türkiye Standart Saati,2021-05-29,21:07:18,300,1398701972463796227,Berkan19712817,Berkan,...,0,0,0,[],[],https://twitter.com/Berkan19712817/status/1398...,False,0,[],['bitcoin']
3,3,1398702467358023684,1398702467358023684,2021-05-29 21:07:09 Türkiye Standart Saati,2021-05-29,21:07:09,300,1398701972463796227,Berkan19712817,Berkan,...,0,0,1,[],[],https://twitter.com/Berkan19712817/status/1398...,False,0,[],['bitcoin']
4,4,1398702416254705666,1398702416254705666,2021-05-29 21:06:57 Türkiye Standart Saati,2021-05-29,21:06:57,300,1398701972463796227,Berkan19712817,Berkan,...,0,0,0,[],[],https://twitter.com/Berkan19712817/status/1398...,False,0,[],['bitcoin']

In [7]:
del df['conversation_id']

In [8]:
del df['id']

In [9]:
del df['user_id']

In [10]:
del df['replies_count']

In [11]:
del df['retweets_count']

In [12]:
del df['likes_count']

In [13]:
del df['name']

In [14]:
del df['mentions']

In [15]:
del df['urls']

In [16]:
del df['photos']

In [17]:
del df['hashtags']

In [18]:
del df['cashtags']

In [19]:
del df['video']

In [20]:
del df['retweet']

In [21]:
del df['date']

In [22]:
del df ['created_at']

In [23]:
del df['time']

In [24]:
del df['timezone']

In [25]:
del df['username']

In [26]:
del df['language']

In [27]:
del df['link']

In [28]:
del df['reply_to']

In [29]:
del df['search']

In [30]:
df.head()

   Unnamed: 0                               tweet
0           0  investing in bitcoin is a bad idea
1           1                bitcoin is worthless
2           2                    bitcoin is trash
3           3                bitcoin will go down
4           4                 bitcoin is terrible

In [31]:
pol = lambda x: TextBlob(x).sentiment.polarity
sub = lambda x: TextBlob(x).sentiment.subjectivity

In [32]:
df['polarity'] = df['tweet'].apply(pol)
df['subjectivity'] = df['tweet'].apply(sub)
df

   Unnamed: 0                               tweet  polarity  subjectivity
0           0  investing in bitcoin is a bad idea -0.700000      0.666667
1           1                bitcoin is worthless -0.800000      0.900000
2           2                    bitcoin is trash  0.000000      0.000000
3           3                bitcoin will go down -0.155556      0.288889
4           4                 bitcoin is terrible -1.000000      1.000000